body{background-color: #395B64;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #A5C9CA;
  border-width: 10px;
  width: 10%;
}
h3{color: #100F0F;}
h1{color: #100F0F;}
